@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --bg-dark: #121212;
    --bg-primary: #181818;
    --bg-secondary: #282828;
    --text-color: #e4e6eb;
    --secondary-text-color: #aaaaaa;
    --color-blue: #3462b8;
    --color-lblue: #72b4ee;
    --text-muted: #404142;
}

main {
    margin: 0 auto;

    .hero-section {
        align-content: center;
        min-height: 77vh;
        margin-bottom: 1em;
        background-color: var(--bg-dark);
        .hero-container {
            margin: 0 auto;
            max-width: 980px;
            text-align: center;

            h1 {
                font-size: 2.8em;
                background: rgb(58, 113, 180);
                background: linear-gradient(
                    90deg,
                    rgba(58, 113, 180, 1) 0%,
                    rgba(29, 253, 192, 1) 51%,
                    rgba(82, 69, 252, 1) 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            a {
                font-size: 1.2em;
                background-color: var(--bg-primary);
                padding: 0.3em 1em;
                border-radius: 0.2em;
                transition: ease-in-out 0.2s;

                &:hover {
                    background: rgb(58, 113, 180);
                    background: linear-gradient(
                        90deg,
                        rgba(58, 113, 180, 1) 0%,
                        rgba(29, 253, 192, 1) 51%,
                        rgba(82, 69, 252, 1) 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            div {
                max-width: 980px;
                text-align: center;
                padding: 0.3em 1em;
                p {
                    margin-top: 2em;
                    color: var(--secondary-text-color);
                }
            }
        }
    }

    .about-section {
        padding: 1em;
        min-height: 80vh;
        background-color: #151515;
        text-align: center;
        color: var(--secondary-text-color);

        .aboutus-container {
            margin: auto 0;
            max-width: fit-content;
            display: flex;
            margin-top: 2em;

            .aboutUs-sentence {
                flex: 1;
                padding: 1em 1.5em;
                align-content: center;
                P {
                    text-align: justify;
                }
                h3 {
                    font-size: 3em;
                    background: rgb(58, 113, 180);
                    background: linear-gradient(
                        90deg,
                        rgba(58, 113, 180, 1) 0%,
                        rgba(29, 253, 192, 1) 51%,
                        rgba(82, 69, 252, 1) 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .aboutus-infos-box {
                padding: 1em 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                flex: 1;
                .aboutus-box {
                    padding: 0em 1em;
                    background-color: var(--bg-dark);
                    border: 1px solid var(--bg-primary);
                    .title-box {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        gap: 0.3em;
                        img {
                            max-width: 50px;
                        }
                        span {
                            color: var(--text-color);
                        }
                    }

                    p {
                        text-align: right;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    .team-section {
        color: var(--secondary-text-color);
        min-height: 100vh;
        padding: 1em;
        .team-container {
            margin: 0 auto;
            max-width: fit-content;
            align-content: center;
            color: var(--text-color);
            .title {
                text-align: center;
                h2 {
                    background: rgb(58, 113, 180);
                    background: linear-gradient(
                        90deg,
                        rgba(58, 113, 180, 1) 0%,
                        rgba(29, 253, 192, 1) 51%,
                        rgba(82, 69, 252, 1) 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 2.5em;
                    text-transform: capitalize;
                }

                
            }
            .container {
                background-color: var(--bg-primary);
                border-radius: 1em;
                max-width: 470px;
                
                .review-container {
                    
                    padding: 1em 1em;
                    border-radius: 1em;
                    text-align: center;
                    .img-container {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        margin: 0 auto;
                        margin-bottom: 1rem;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            position: relative;
                            //display: block;
                        }
                    }
                    .img-container::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: var(--color-blue);
                        position: absolute;
                        top: -0.25rem;
                        right: -0.5rem;
                        border-radius: 50%;
                    }

                    .img-container::after {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f10e";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 2.5rem;
                        height: 2.5rem;
                        display: grid;
                        place-items: center;
                        border-radius: 50%;
                        transform: translateY(25%);
                        background: var(--color-blue);
                        color: var(--text-color);
                    }

                    #author {
                        text-transform: capitalize;
                        font-size: 1.2em;
                        margin: 0;
                        margin-bottom: 1em;
                    }
                    #job {
                        color: var(--text-color);
                        text-transform: uppercase;
                        font-size: 0.9em;
                        margin-bottom: 1em;
                    }
                    #info {
                        color: var(--secondary-text-color);
                        margin-bottom: 1em;
                        font-size: .9em;
                    }

                    .btn-container {
                        margin-bottom: 1em;
                        .prev-btn,
                        .next-btn {
                            background: transparent;
                            border: none;
                            margin-bottom: 1em;
                            width: 2em;
                            cursor: pointer;

                            i {
                                font-size: 1.7em;
                                color: var(--secondary-text-color);
                            }

                            &:hover {
                                i {
                                    color: var(--color-lblue);
                                }
                            }
                        }
                    }
                    .random-btn {
                        margin-bottom: 1em;
                        padding: 0.3em 0.5em;
                        background-color: var(--bg-secondary);
                        color: var(--primary-2nd);
                        border-radius: 0.5em;
                        text-transform: capitalize;
                        border: 1px solid var(--primary-2nd);
                        cursor: pointer;

                        &:hover {
                            background-color: var(--color-blue);
                            color: #fff;
                            border: none;
                        }
                    }

                    .fadeInAnimation {
                        animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
                        animation-duration: 0.5s; /* don't forget to set a duration! */
                    }
                }
            }
        }
    }
}

@media (width <= 800px) {
    .about-section {
        .aboutus-container {
            flex-direction: column;
        }
    }
}
