@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-dark: #121212;
  --bg-primary: #181818;
  --bg-secondary: #3A3B3C;
  --text-color: #E4E6EB;
  --secondary-text-color: #AAAAAA;
  --color-blue: #3462b8;
}

* {
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

a {
  color: var(--secondary-text-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  color: var(--text-color);
}

nav {
  margin: 0 auto;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;

}
nav .nav-container {
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-container .nav-logo span {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  color: var(--text-color);
}
nav .nav-container .nav-logo{
  cursor: pointer;
}
nav .nav-container .nav-logo .span1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  background: rgb(58, 113, 180);
  background: linear-gradient(
    90deg,
    rgba(58, 113, 180, 1) 0%,
    rgba(29, 235, 253, 1) 50%,
    rgba(82, 69, 252, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .nav-container .nav-logo i {
  font-size: 2.5em;
  margin-right: 0.2em;
  background: rgb(58, 113, 180);
  background: linear-gradient(
    90deg,
    rgba(58, 113, 180, 1) 0%,
    rgba(29, 235, 253, 1) 50%,
    rgba(82, 69, 252, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .nav-container ul {
  display: flex;
  gap: 1em;
}