@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-dark: #18191a;
  --bg-primary: #242526;
  --bg-secondary: #3a3b3c;
  --text-color: #e4e6eb;
  --secondary-text-color: #aaaaaa;
  --color-blue: #3462b8;
  --color-lblue: #72b4ee;
}

main {
  margin: 0 auto;
}
main .search-section {
  position: sticky;
  top: -5.5em;
}
main .search-section .search-container {
  margin: 0 auto;
  min-height: 300px;
  max-width: 730px;
  align-content: center;
}
main .search-section .search-container .search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--bg-secondary);
  background-color: var(--bg-primary);
  border-radius: 1em;
  padding: 2em;
}
main .search-section .search-container .search-box span {
  font-size: 2em;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0.5em;
}
main .search-section .search-container .search-box .search-bar {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}
main .search-section .search-container .search-box .search-bar input {
  width: 100%;
  height: 40px;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: var(--bg-secondary);
  color: var(--text-color);
}
main .search-section .search-container .search-box .search-bar i {
  position: absolute;
  font-size: 1.5em;
  right: 13px;
  transition: ease-out 0.3s;
  cursor: pointer;
}
main .search-section .search-container .search-box .search-bar i:hover {
  color: var(--color-blue);
}
main .result-section {
  padding: 0.5em;
  min-height: 100vh;
}
main .result-section .result-container {
  margin: 0 auto;
  max-width: 1080px;
}
main .result-section .result-container .word-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
main .result-section .result-container .word-box h2 {
  font-size: 2.5em;
}
main .result-section .result-container .word-box #search-word {
  -webkit-text-emphasis: inherit;
          text-emphasis: inherit;
  text-transform: capitalize;
}
main .result-section .result-container .word-box .audio {
  background-color: var(--bg-secondary);
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2em;
  transition: ease-in-out 0.1s;
}
main .result-section .result-container .word-box .audio:hover {
  background-color: var(--bg-primary);
}
main .result-section .result-container .word-box .audio:hover i {
  color: var(--color-blue);
}
main .result-section .result-container .word-box .audio i {
  transition: ease-in-out 0.1s;
  font-size: 1.5em;
}
main .result-section .result-container .phonetics {
  margin-bottom: 1.5em;
}
main .result-section .result-container .phonetics .phonetics-span {
  color: var(--secondary-text-color);
  text-decoration: underline;
}
main .result-section .result-container .buttons {
  border-bottom: solid 1px var(--bg-primary);
}
main .result-section .result-container .buttons .button {
  background-color: var(--bg-secondary);
  border: none;
  font-size: 1.2em;
  color: var(--text-color);
  padding: 0.5em 1em;
  border-radius: 1em 1em 0em 0em;
  cursor: pointer;
  transition: ease-in 0.1s;
}
main .result-section .result-container .buttons .button:hover {
  color: var(--color-lblue);
  background-color: var(--bg-primary);
}
main .result-section .result-container .buttons .active {
  background-color: var(--bg-primary);
  border-bottom: 4px solid var(--color-blue);
}
main .result-section .result-container .partOfSpeech-container {
  margin: 3em 0em;
}
main .result-section .result-container .partOfSpeech-container .partOfSpeech-scroll {
  display: flex;
  overflow-x: auto;
  max-width: 500px;
  overscroll-behavior: smooth;
  overflow-y: hidden;
  white-space: nowrap;
}
main .result-section .result-container .partOfSpeech-container .partOfSpeech-scroll::-webkit-scrollbar {
  height: 7px; /* height of horizontal scrollbar ← You're missing this */
  width: 7px; /* width of vertical scrollbar */
}
main .result-section .result-container .partOfSpeech-container .partOfSpeech-scroll::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--secondary-text-color);
  border-radius: 5px;
}
main .result-section .result-container .partOfSpeech-container .link-partOfSpeech {
  background-color: var(--bg-primary);
  color: var(--secondary-text-color);
  font-size: 1.2em;
  border-radius: 1em;
  padding: 0.3em 0.5em;
  margin-left: 0.4em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: ease-out 0.2s;
}
main .result-section .result-container .partOfSpeech-container .link-partOfSpeech:hover {
  background-color: var(--bg-secondary);
  color: var(--color-lblue);
}
main .result-section .meaning-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .result-section .meaning-content .definition-container .partofSpeech-title {
  margin-bottom: 1em;
}
main .result-section .meaning-content .definition-container .partofSpeech-title .title-partOfSpeech {
  background-color: var(--color-blue);
  color: var(--text-color);
  font-size: 1.1em;
  font-weight: light;
  padding: 0.2em 0.5em;
}
main .result-section .meaning-content .definition-container .partOfSpeech-card {
  border: 1px solid var(--bg-primary);
  margin-bottom: 0.5em;
  padding: 1em 0.5em 1em 0.9em;
  max-width: 910px;
  display: flex;
  flex-direction: column;
}
main .result-section .meaning-content .definition-container .partOfSpeech-card .partOfSpeech-definition {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 1em;
  font-weight: light;
}
main .result-section .meaning-content .definition-container .partOfSpeech-card .partOfSpeech-example-sentence {
  color: var(--secondary-text-color);
  text-transform: capitalize;
  margin-top: 0.4em;
}
main .result-section .meaning-content .definition-container .synonyms-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  max-width: 800px;
}
main .result-section .meaning-content .definition-container .synonyms-container .synonym {
  background-color: var(--bg-primary);
  color: var(--secondary-text-color);
  padding: 0.3em 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
}
main .result-section .meaning-content .definition-container .antonym-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  max-width: 800px;
}
main .result-section .meaning-content .definition-container .antonym-container .antonym {
  background-color: var(--bg-primary);
  color: var(--secondary-text-color);
  padding: 0.2em 0.4em;
  margin-left: 0.5em;
  border-radius: 1em;
}/*# sourceMappingURL=search.css.map */